
.containerInCss{
    border-top: 1px solid black;
}
@keyframes rounding{
    0%{
        transform: rotate(0deg);
        box-shadow: 0 0 5px 2px rgb(105, 105, 234);
    }
    50%{
        transform: rotate(180deg);
        box-shadow: 0 0 5px 2px rgb(255, 57, 57);
    }
    100%{
        transform: rotate(360deg);
        box-shadow: 0 0 5px 2px rgb(97, 208, 28);
    }
}
.ring{
    position: absolute;
    animation: rounding 0.9s linear infinite;
    border-radius: 50%;
    height: 200px;
}